.Add-contact {
  margin: 30px 0;
}
.Add-contact__form-wrapper {
  display: flex;
}
.input-field {
  width: 400px;
}
.Add-contact__btn-open-form {
  margin: 50px 0;
}
.Add-contant__btn-close-form {
  margin-left: 10px;
}